body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #BBE3CA;
}

header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 30px 10px;
    background-color: black;
}

footer{
    background-color: black;
}


header #logo{
    position:relative;
    right: 12em;

}


nav .navlinks li{
    position:relative;
    right: 12em;
    padding-left: 45px;
    display: inline-block;
  
}

nav .navlinks li a{
    color:white;
    font-size: 30px;
    
}