*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    box-sizing: border-box;
    margin:0;
    padding:0;   
}


header{
    position:fixed;
    width: 100%;
    padding:15px;
    display: flex;
    justify-content: flex-end;
    height:75px;
    z-index: 100; /*Fix the content overlapping*/
}


header, footer{
    background-color: #210124;
    text-align: center;
    
}

footer{
    padding:35px;
}

header img{
    position: relative;
    right:50%;
    height: 80px;
    width: 80px;
}

/*Navigation bar*/
nav{
    display: flex;
    position:relative;
    right:5%;
    gap:80px;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/*Button style*/
.generic-btn{
    background-color: #1A512C;
    font-size: 20pxs;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border-style: none;
}

#log-in-btn{
    position: relative;
    right:2%;
    height:40px;
    width: 40px;
}

#register-button{
    height: 25px;
    width: 55px;
    right:5%;
}