#main-content {
    display: flex;
    justify-content: center;
    height: 190vh;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 50px;
    height: 50vh;
    width: 150vh;
    top: 11.5%;
}

.article {
    position: relative;
    left: 5%;
    height: 375px;
    border-radius: 15px;
    
}

.article:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.article:hover img{
    transform: scale(1.1);
    overflow: hidden;
}

.article img {
    position:absolute;
    width: 150px;
    height: 150px;
    top:20%;
    right:26%;
    background-color: brown;
    transition: all .5s;
    border-radius: 10px;
    object-fit: cover ; /*Arregla las imagenes achatadas*/
    
}

.article p {
    display: inline-block;
    position: absolute;
    width: 50%;
    left: 26%;
    top:2%;
    text-align: center;

}

.price{
    position: absolute;
    top:69%;
    left:60%;
    font-size: 25px;
}

span.decimal{
    position:relative;
    bottom:10px;
    right: 5px;
    font-size: 20px;
}


.generic-btn {
    position: absolute;
    top: 0px;
    left:35%;
    top:82.5%;
}