#main-content {
    display: flex;
    justify-content: center;
    height: 200vh;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    height: 50vh;
    width: 150vh;
    top: 12.5%;
}

.article {
    position: relative;
    left: 5%;
    height: 325px;

}

.article img {
    position:relative;
    width: 150px;
    height: 150px;
    top:20%;
    right:25%;
    background-color: brown;
}

.article p {
    display: inline-block;
    position: relative;
    width: 50%;
    top:-31.5%;
    left: 25%;
    text-align: center;

}

.price{
    position: relative;
    top:19.5%;
    left:60%;
    font-size: 25px;
}

span.decimal{
    position:relative;
    bottom:10px;
    right: 5px;
    font-size: 20px;
}

.generic-btn {
    position: absolute;
    left:35%;
    top:82.5%;
}